.whatidobg{
    position: absolute;
    left:0%;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 132, 255, 0.2);
    transition: 1.5s;
   
  }
 
  .dos{
    width:80%;
  }