.Themesetter{
    background-color: var(--sectionColor);
    bottom: 0%;
    position: fixed;
    border-radius: 0px 10px 0px 0px;
    z-index: 5;
    border-top: 1px solid var(--secTextColor);
    transform: translateX(-85%);
    transition:transform .5s;
    opacity: .3;
}
button{
    border:2px solid ;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    margin: 3px;
}
.Themesetter h3{
    margin-right: 50px;
}
.sidebutton{
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    width: 15%;
    background-color: var(--textColor);
    border-radius: 0px 10px 0px 0px;
    border:none;
    margin: 0;
    
}
.barvisible{
    transform: translateX(0%);
    transition:transform .5s;
    opacity: 1;
}