.main_page{
    position: relative;
  
    
    width: 70%;
 
    
    margin-top: 100px;
   
    left:50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: transparent;
    
}
.section1{

    position: relative;
    
    width: 100%;
    height: fit-content;
    
    border-radius: 10px;
    transition: .5s;
    background-color:var(--sectionColor);
   
}
.combo{
    display: grid;
    position: relative;
    left: 50%;
    width:80% ;
    height: fit-content;
    transform: translate(-50%,0%);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "greeting circlee"
    ;
    overflow: hidden;
}

.circle{
    grid-area: circlee;
    position: relative;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%,0%);
    max-width: 350px;
    height:350px;
    width:100%;
 
    min-width: 100px;
    
    background-color: transparent;
}
.circle img{
    position: absolute;
    border-radius: 50%;
    margin: 0;
    left: 50%;
    top: 50% ;
    transform: translate(-50%,-50%);
    border: 5px solid  var(--sectionColor);
    width:100% ;
    object-fit: cover;
}
.greeting{
    grid-area: greeting;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
    
}
.greeting h1{
   margin: 0;
   
   
}

.whatido{
    position: relative;
  
    left: 50%;
    transform: translate(-50%,50px);
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid var(--secTextColor);
  background-color:  transparent;
    z-index: 2;
}
.whatido .txt{
    position: absolute;
  
    min-width: 120px;
    width:25%;
    height:40px;
    transform: translate(-50%,-50%);
    left: 50%;
    background-color: var(--secTextColor);
    border-radius: 10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.txt p {
    font-size: calc(10px + 1.5vw) ;
    text-align: center;
   font-weight: bold;
    color:var(--sectionColor);
}

.whatido_content{
    width: 100%;
    height: 100%;
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatido_content p{
    width:80%;
    text-align: center;
    font-size: calc(20px + 1vw) ;
    padding-block: 100px;
}
/*----------------------------------Section2------------------------*/

.section2{

    position: relative;
    display: flex;
    width: 100%;
    height:fit-content;
    background-color: var(--backgroundColor);display: flex;align-items: center;
}

.main_grid{
    position: relative;
 
    left: 50%;
    margin-block: 50px;
    transform: translate(-50%);
    width: 80%;
    height:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "about_me social_links"
    ;
    gap: 20px;
}
.about_me{
    position: relative;
    grid-area: about_me;
    width: 100%;
    height: 100%;
}


.label{
    margin-block: 16px;
}
.skills{
    position: relative;
    width: 98%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border:2px solid var(--secTextColor);
}
.tag{
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    padding: 3px;
    margin:10px
}
.tag::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: .3;
    background-color: var(--secTextColor);
}

.social_links{
    grid-area: social_links;
}


/*----------------------------------Section3------------------------*/
.section3{

    position: relative;
    display: flex;
    width: 100%;
    height:fit-content;
   background-color: var(--sectionColor);
}
.projects_container{
    position: relative;
 
   
    border: 2px solid var(--secTextColor);
    width: 80%;
    height: fit-content;
    
    left: 50%;
    margin-block: 50px;
    transform: translate(-50%);
    border-radius: 10px;
  
}
.title{
    position: absolute;
  
    min-width: 150px;
    width:25%;
    height: 40px;
    transform: translate(-50%,-50%);
    left: 50%;
   border: 2px solid var(--secTextColor);
   background-color: var(--sectionColor);
    border-radius: 10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title p{
    font-size: calc(10px + 1.5vw) ;
    text-align: center;
   font-weight: bold;
    color: var(--secTextColor);
}

.projects_content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width:90%;
    height:80%;
    left: 50%;
    justify-content: center;
    margin-block: 50px;
    transform: translate(-50%);
   overflow-y: hidden;
}


.card{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
  
}
.card_content{
    position: relative;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px 10px 0px 0px;
    
    width:250px;
    max-width: 250px;
    height:400px;
    
}
.card_img_container{
    position: relative;
   
    height: 60%;
    background-color: teal;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;

}
.card_img_container .img{
   position: relative;
   height: 120%;
   width: 120%;
   transform: rotate(8deg);
    object-fit: cover;
  
}
.card_text_content{
    position: relative;
    width: 90%;
    padding: 10px;
}
.card_title{
 position: relative;
 width: 90%;
 font-size: 20px;
}
.card_desc{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}
.card_desc p {
   
   margin: 0;
  
    
    padding: 0;
   font-size: 20px;
  
  
    
   
}

/*---------------------- ANiMAtION-------------------*/
.disappear{
   
  
}
.appear{
    
    animation: appear 1s normal backwards;
}
.delay1{
   
   
}
.delay2{
    
   
}
.delay3{
    
}
@keyframes appear {
    0%{
        opacity:0%;
        transform: translateY(100%);
    }
    100%{
        opacity:100%;
        transform: translateY(0%);
        
    }
}






@media  screen and (max-width: 1000px) {

    .main_page{
        position: relative;
        width: 98%;
       height: fit-content;
       
        left:50%;
        transform: translateX(-50%);
        border-radius: 5px;
        background-color: transparent;
    }
    .main_grid{
        position: relative;
     
        left: 50%;
        margin-block: 50px;
        transform: translate(-50%);
        width: 80%;
        height:80%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "about_me "
        "social_links"
        ;
        gap: 20px;
    }
    .combo{
        display: grid;
        position: relative;
        left: 50%;
        width:100% ;
        height: fit-content;
        transform: translate(-50%,0%);
        grid-template-columns: 1fr;
        grid-template-rows: fit-content 2fr;
        grid-template-areas: 
        "circlee"
        "greeting"
        ;
    }
    
}