:root{
  --buttonTextcolor : white;
  --buttonColor : transparent;

  --bigtextcolor:rgb(255, 255, 255);
}
*{
  margin: 0;
  padding: 0;
}
p{
  font-size: 1.2em;
 
  margin-block: 16px;
  color: white;
  z-index: 1;

}
html, body, #root {
  height: 100%;
}
body {
  
 
 
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
 

  background-color: rgb(255, 144, 144);


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

    
}

h1{
  color: var(--bigtextcolor);
  font-size:calc(30px + 2vw);
  margin: 5px;
 

}
.secTextColor{
  color: indianred;
}
a{
  font-size:calc(12px + .7vw);
}



