:root{
  --backgroundColor: rgb(22, 22, 22);
  --sectionColor:rgb(0, 0, 0);
  --secTextColor:indianred;
  --textColor:rgb(255, 255, 255);
    
}
*{
  margin: 0;
  padding: 0;
}
p{
  font-size: 1.2em;
 
  margin-block: 16px;
  color: var(--textColor);
  z-index: 1;
  
  
}

body {
  
 
  
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
 

  background-color: var(--secTextColor);

  transition: .5s;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

    
}

h1{
  color: var(--textColor);
  font-size:calc(30px + 2vw);
  margin: 5px;
 

}
h3{
  color: var(--textColor);
}
.secTextColor{
  color: var(--secTextColor);
}
a{
  text-decoration: none;
  font-size:calc(12px + .7vw);
}
small{
  color: var(--textColor);
}
li{
  list-style:inside;
  list-style-type:"- ";
}

